extends layout

block content
  h1= status
  p Welcome to this page
  form(action="/data", method="POST")
    input(name="email", type="email", placeholder="enter your email address")
    button(type="submit") Submit